/BitgrayTest-ejb/nbproject/private/
/BitgrayTest-ejb/build/
/BitgrayTest-ejb/dist/
/build/
/dist/
/BitgrayTest-war/dist/
/BitgrayTest-war/build/
/nbproject/private/
/BitgrayTest-war/nbproject/private/